/* ═══════════════════════════════════════════════════════════════════════════
   POLYMORPHI.CSS FONTS - DISPLAY
   ═══════════════════════════════════════════════════════════════════════════
   Category: Display
   Count:    90
   ═══════════════════════════════════════════════════════════════════════════ */

/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blaka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+20&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plaster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Keania+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Storm&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kablammo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sancreek&display=swap");

:root {

  /* DISPLAY STACKS */
  --pm-font-display-000: "Bebas Neue", system-ui, sans-serif;
  --pm-font-display-001: "Oswald", system-ui, sans-serif;
  --pm-font-display-002: "Anton", system-ui, sans-serif;
  --pm-font-display-003: "Abril Fatface", system-ui, sans-serif;
  --pm-font-display-004: "Alfa Slab One", system-ui, sans-serif;
  --pm-font-display-005: "Righteous", system-ui, sans-serif;
  --pm-font-display-006: "Staatliches", system-ui, sans-serif;
  --pm-font-display-007: "Russo One", system-ui, sans-serif;
  --pm-font-display-008: "Black Ops One", system-ui, sans-serif;
  --pm-font-display-009: "Bungee", system-ui, sans-serif;
  --pm-font-display-010: "Bungee Shade", system-ui, sans-serif;
  --pm-font-display-011: "Bungee Inline", system-ui, sans-serif;
  --pm-font-display-012: "Bungee Outline", system-ui, sans-serif;
  --pm-font-display-013: "Big Shoulders Display", system-ui, sans-serif;
  --pm-font-display-014: "Big Shoulders Text", system-ui, sans-serif;
  --pm-font-display-015: "Teko", system-ui, sans-serif;
  --pm-font-display-016: "Passion One", system-ui, sans-serif;
  --pm-font-display-017: "Bangers", system-ui, sans-serif;
  --pm-font-display-018: "Fugaz One", system-ui, sans-serif;
  --pm-font-display-019: "Bowlby One SC", system-ui, sans-serif;
  --pm-font-display-020: "Chango", system-ui, sans-serif;
  --pm-font-display-021: "Concert One", system-ui, sans-serif;
  --pm-font-display-022: "Faster One", system-ui, sans-serif;
  --pm-font-display-023: "Gravitas One", system-ui, sans-serif;
  --pm-font-display-024: "Luckiest Guy", system-ui, sans-serif;
  --pm-font-display-025: "Passion One", system-ui, sans-serif;
  --pm-font-display-026: "Shrikhand", system-ui, sans-serif;
  --pm-font-display-027: "Ultra", system-ui, sans-serif;
  --pm-font-display-028: "Titan One", system-ui, sans-serif;
  --pm-font-display-029: "Boogaloo", system-ui, sans-serif;
  --pm-font-display-030: "Orbitron", system-ui, sans-serif;
  --pm-font-display-031: "Audiowide", system-ui, sans-serif;
  --pm-font-display-032: "Electrolize", system-ui, sans-serif;
  --pm-font-display-033: "Rajdhani", system-ui, sans-serif;
  --pm-font-display-034: "Chakra Petch", system-ui, sans-serif;
  --pm-font-display-035: "Syncopate", system-ui, sans-serif;
  --pm-font-display-036: "Exo", system-ui, sans-serif;
  --pm-font-display-037: "Michroma", system-ui, sans-serif;
  --pm-font-display-038: "Aldrich", system-ui, sans-serif;
  --pm-font-display-039: "Quantico", system-ui, sans-serif;
  --pm-font-display-040: "Jura", system-ui, sans-serif;
  --pm-font-display-041: "Oxanium", system-ui, sans-serif;
  --pm-font-display-042: "Tektur", system-ui, sans-serif;
  --pm-font-display-043: "Tomorrow", system-ui, sans-serif;
  --pm-font-display-044: "Turret Road", system-ui, sans-serif;
  --pm-font-display-045: "Blaka", system-ui, sans-serif;
  --pm-font-display-046: "Bruno Ace", system-ui, sans-serif;
  --pm-font-display-047: "Bruno Ace SC", system-ui, sans-serif;
  --pm-font-display-048: "Coda", system-ui, sans-serif;
  --pm-font-display-049: "Megrim", system-ui, sans-serif;
  --pm-font-display-050: "Press Start 2P", system-ui, sans-serif;
  --pm-font-display-051: "VT323", system-ui, sans-serif;
  --pm-font-display-052: "Silkscreen", system-ui, sans-serif;
  --pm-font-display-053: "DotGothic16", system-ui, sans-serif;
  --pm-font-display-054: "Pixelify Sans", system-ui, sans-serif;
  --pm-font-display-055: "Jersey 10", system-ui, sans-serif;
  --pm-font-display-056: "Jersey 15", system-ui, sans-serif;
  --pm-font-display-057: "Jersey 20", system-ui, sans-serif;
  --pm-font-display-058: "Jersey 25", system-ui, sans-serif;
  --pm-font-display-059: "Tiny5", system-ui, sans-serif;
  --pm-font-display-060: "Monoton", system-ui, sans-serif;
  --pm-font-display-061: "Faster One", system-ui, sans-serif;
  --pm-font-display-062: "Plaster", system-ui, sans-serif;
  --pm-font-display-063: "Rubik Mono One", system-ui, sans-serif;
  --pm-font-display-064: "Graduate", system-ui, sans-serif;
  --pm-font-display-065: "Iceland", system-ui, sans-serif;
  --pm-font-display-066: "Keania One", system-ui, sans-serif;
  --pm-font-display-067: "Wallpoet", system-ui, sans-serif;
  --pm-font-display-068: "Lacquer", system-ui, sans-serif;
  --pm-font-display-069: "Londrina Outline", system-ui, sans-serif;
  --pm-font-display-070: "Climate Crisis", system-ui, sans-serif;
  --pm-font-display-071: "Nabla", system-ui, sans-serif;
  --pm-font-display-072: "Foldit", system-ui, sans-serif;
  --pm-font-display-073: "Vast Shadow", system-ui, sans-serif;
  --pm-font-display-074: "Rubik Wet Paint", system-ui, sans-serif;
  --pm-font-display-075: "Rubik Glitch", system-ui, sans-serif;
  --pm-font-display-076: "Rubik Dirt", system-ui, sans-serif;
  --pm-font-display-077: "Rubik Puddles", system-ui, sans-serif;
  --pm-font-display-078: "Rubik Burned", system-ui, sans-serif;
  --pm-font-display-079: "Rubik Distressed", system-ui, sans-serif;
  --pm-font-display-080: "Rubik Maze", system-ui, sans-serif;
  --pm-font-display-081: "Rubik Vinyl", system-ui, sans-serif;
  --pm-font-display-082: "Rubik Storm", system-ui, sans-serif;
  --pm-font-display-083: "Rubik Microbe", system-ui, sans-serif;
  --pm-font-display-084: "Rubik Iso", system-ui, sans-serif;
  --pm-font-display-085: "Honk", system-ui, sans-serif;
  --pm-font-display-086: "Kablammo", system-ui, sans-serif;
  --pm-font-display-087: "Moo Lah Lah", system-ui, sans-serif;
  --pm-font-display-088: "Nosifer", system-ui, sans-serif;
  --pm-font-display-089: "Sancreek", system-ui, sans-serif;

}
/* TOTAL: 90 fonts */