/* ═══════════════════════════════════════════════════════════════════════════
   POLYMORPHI.CSS ICON TOKENS - SOCIAL
   ═══════════════════════════════════════════════════════════════════════════
   Category: social
   Count: 63
   Styles: line, solid, duotone, thin
   ═══════════════════════════════════════════════════════════════════════════ */

:root {

  /* LINE */
  --pm-icon-soc-line-000: "facebook";
  --pm-icon-soc-line-001: "twitter";
  --pm-icon-soc-line-002: "x";
  --pm-icon-soc-line-003: "instagram";
  --pm-icon-soc-line-004: "linkedin";
  --pm-icon-soc-line-005: "youtube";
  --pm-icon-soc-line-006: "tiktok";
  --pm-icon-soc-line-007: "snapchat";
  --pm-icon-soc-line-008: "pinterest";
  --pm-icon-soc-line-009: "reddit";
  --pm-icon-soc-line-010: "discord";
  --pm-icon-soc-line-011: "slack";
  --pm-icon-soc-line-012: "whatsapp";
  --pm-icon-soc-line-013: "telegram";
  --pm-icon-soc-line-014: "signal";
  --pm-icon-soc-line-015: "messenger";
  --pm-icon-soc-line-016: "github";
  --pm-icon-soc-line-017: "gitlab";
  --pm-icon-soc-line-018: "bitbucket";
  --pm-icon-soc-line-019: "codepen";
  --pm-icon-soc-line-020: "stackoverflow";
  --pm-icon-soc-line-021: "dribbble";
  --pm-icon-soc-line-022: "behance";
  --pm-icon-soc-line-023: "figma";
  --pm-icon-soc-line-024: "sketch";
  --pm-icon-soc-line-025: "adobe";
  --pm-icon-soc-line-026: "spotify";
  --pm-icon-soc-line-027: "apple-music";
  --pm-icon-soc-line-028: "soundcloud";
  --pm-icon-soc-line-029: "bandcamp";
  --pm-icon-soc-line-030: "mixcloud";
  --pm-icon-soc-line-031: "twitch";
  --pm-icon-soc-line-032: "vimeo";
  --pm-icon-soc-line-033: "dailymotion";
  --pm-icon-soc-line-034: "google";
  --pm-icon-soc-line-035: "apple";
  --pm-icon-soc-line-036: "microsoft";
  --pm-icon-soc-line-037: "amazon";
  --pm-icon-soc-line-038: "meta";
  --pm-icon-soc-line-039: "android";
  --pm-icon-soc-line-040: "ios";
  --pm-icon-soc-line-041: "windows";
  --pm-icon-soc-line-042: "linux";
  --pm-icon-soc-line-043: "chrome";
  --pm-icon-soc-line-044: "firefox";
  --pm-icon-soc-line-045: "safari";
  --pm-icon-soc-line-046: "npm";
  --pm-icon-soc-line-047: "yarn";
  --pm-icon-soc-line-048: "docker";
  --pm-icon-soc-line-049: "kubernetes";
  --pm-icon-soc-line-050: "aws";
  --pm-icon-soc-line-051: "azure";
  --pm-icon-soc-line-052: "gcp";
  --pm-icon-soc-line-053: "stripe";
  --pm-icon-soc-line-054: "paypal";
  --pm-icon-soc-line-055: "visa";
  --pm-icon-soc-line-056: "mastercard";
  --pm-icon-soc-line-057: "amex";
  --pm-icon-soc-line-058: "medium";
  --pm-icon-soc-line-059: "substack";
  --pm-icon-soc-line-060: "wordpress";
  --pm-icon-soc-line-061: "blogger";
  --pm-icon-soc-line-062: "tumblr";

  /* SOLID */
  --pm-icon-soc-solid-000: "facebook";
  --pm-icon-soc-solid-001: "twitter";
  --pm-icon-soc-solid-002: "x";
  --pm-icon-soc-solid-003: "instagram";
  --pm-icon-soc-solid-004: "linkedin";
  --pm-icon-soc-solid-005: "youtube";
  --pm-icon-soc-solid-006: "tiktok";
  --pm-icon-soc-solid-007: "snapchat";
  --pm-icon-soc-solid-008: "pinterest";
  --pm-icon-soc-solid-009: "reddit";
  --pm-icon-soc-solid-010: "discord";
  --pm-icon-soc-solid-011: "slack";
  --pm-icon-soc-solid-012: "whatsapp";
  --pm-icon-soc-solid-013: "telegram";
  --pm-icon-soc-solid-014: "signal";
  --pm-icon-soc-solid-015: "messenger";
  --pm-icon-soc-solid-016: "github";
  --pm-icon-soc-solid-017: "gitlab";
  --pm-icon-soc-solid-018: "bitbucket";
  --pm-icon-soc-solid-019: "codepen";
  --pm-icon-soc-solid-020: "stackoverflow";
  --pm-icon-soc-solid-021: "dribbble";
  --pm-icon-soc-solid-022: "behance";
  --pm-icon-soc-solid-023: "figma";
  --pm-icon-soc-solid-024: "sketch";
  --pm-icon-soc-solid-025: "adobe";
  --pm-icon-soc-solid-026: "spotify";
  --pm-icon-soc-solid-027: "apple-music";
  --pm-icon-soc-solid-028: "soundcloud";
  --pm-icon-soc-solid-029: "bandcamp";
  --pm-icon-soc-solid-030: "mixcloud";
  --pm-icon-soc-solid-031: "twitch";
  --pm-icon-soc-solid-032: "vimeo";
  --pm-icon-soc-solid-033: "dailymotion";
  --pm-icon-soc-solid-034: "google";
  --pm-icon-soc-solid-035: "apple";
  --pm-icon-soc-solid-036: "microsoft";
  --pm-icon-soc-solid-037: "amazon";
  --pm-icon-soc-solid-038: "meta";
  --pm-icon-soc-solid-039: "android";
  --pm-icon-soc-solid-040: "ios";
  --pm-icon-soc-solid-041: "windows";
  --pm-icon-soc-solid-042: "linux";
  --pm-icon-soc-solid-043: "chrome";
  --pm-icon-soc-solid-044: "firefox";
  --pm-icon-soc-solid-045: "safari";
  --pm-icon-soc-solid-046: "npm";
  --pm-icon-soc-solid-047: "yarn";
  --pm-icon-soc-solid-048: "docker";
  --pm-icon-soc-solid-049: "kubernetes";
  --pm-icon-soc-solid-050: "aws";
  --pm-icon-soc-solid-051: "azure";
  --pm-icon-soc-solid-052: "gcp";
  --pm-icon-soc-solid-053: "stripe";
  --pm-icon-soc-solid-054: "paypal";
  --pm-icon-soc-solid-055: "visa";
  --pm-icon-soc-solid-056: "mastercard";
  --pm-icon-soc-solid-057: "amex";
  --pm-icon-soc-solid-058: "medium";
  --pm-icon-soc-solid-059: "substack";
  --pm-icon-soc-solid-060: "wordpress";
  --pm-icon-soc-solid-061: "blogger";
  --pm-icon-soc-solid-062: "tumblr";

  /* DUOTONE */
  --pm-icon-soc-duotone-000: "facebook";
  --pm-icon-soc-duotone-001: "twitter";
  --pm-icon-soc-duotone-002: "x";
  --pm-icon-soc-duotone-003: "instagram";
  --pm-icon-soc-duotone-004: "linkedin";
  --pm-icon-soc-duotone-005: "youtube";
  --pm-icon-soc-duotone-006: "tiktok";
  --pm-icon-soc-duotone-007: "snapchat";
  --pm-icon-soc-duotone-008: "pinterest";
  --pm-icon-soc-duotone-009: "reddit";
  --pm-icon-soc-duotone-010: "discord";
  --pm-icon-soc-duotone-011: "slack";
  --pm-icon-soc-duotone-012: "whatsapp";
  --pm-icon-soc-duotone-013: "telegram";
  --pm-icon-soc-duotone-014: "signal";
  --pm-icon-soc-duotone-015: "messenger";
  --pm-icon-soc-duotone-016: "github";
  --pm-icon-soc-duotone-017: "gitlab";
  --pm-icon-soc-duotone-018: "bitbucket";
  --pm-icon-soc-duotone-019: "codepen";
  --pm-icon-soc-duotone-020: "stackoverflow";
  --pm-icon-soc-duotone-021: "dribbble";
  --pm-icon-soc-duotone-022: "behance";
  --pm-icon-soc-duotone-023: "figma";
  --pm-icon-soc-duotone-024: "sketch";
  --pm-icon-soc-duotone-025: "adobe";
  --pm-icon-soc-duotone-026: "spotify";
  --pm-icon-soc-duotone-027: "apple-music";
  --pm-icon-soc-duotone-028: "soundcloud";
  --pm-icon-soc-duotone-029: "bandcamp";
  --pm-icon-soc-duotone-030: "mixcloud";
  --pm-icon-soc-duotone-031: "twitch";
  --pm-icon-soc-duotone-032: "vimeo";
  --pm-icon-soc-duotone-033: "dailymotion";
  --pm-icon-soc-duotone-034: "google";
  --pm-icon-soc-duotone-035: "apple";
  --pm-icon-soc-duotone-036: "microsoft";
  --pm-icon-soc-duotone-037: "amazon";
  --pm-icon-soc-duotone-038: "meta";
  --pm-icon-soc-duotone-039: "android";
  --pm-icon-soc-duotone-040: "ios";
  --pm-icon-soc-duotone-041: "windows";
  --pm-icon-soc-duotone-042: "linux";
  --pm-icon-soc-duotone-043: "chrome";
  --pm-icon-soc-duotone-044: "firefox";
  --pm-icon-soc-duotone-045: "safari";
  --pm-icon-soc-duotone-046: "npm";
  --pm-icon-soc-duotone-047: "yarn";
  --pm-icon-soc-duotone-048: "docker";
  --pm-icon-soc-duotone-049: "kubernetes";
  --pm-icon-soc-duotone-050: "aws";
  --pm-icon-soc-duotone-051: "azure";
  --pm-icon-soc-duotone-052: "gcp";
  --pm-icon-soc-duotone-053: "stripe";
  --pm-icon-soc-duotone-054: "paypal";
  --pm-icon-soc-duotone-055: "visa";
  --pm-icon-soc-duotone-056: "mastercard";
  --pm-icon-soc-duotone-057: "amex";
  --pm-icon-soc-duotone-058: "medium";
  --pm-icon-soc-duotone-059: "substack";
  --pm-icon-soc-duotone-060: "wordpress";
  --pm-icon-soc-duotone-061: "blogger";
  --pm-icon-soc-duotone-062: "tumblr";

  /* THIN */
  --pm-icon-soc-thin-000: "facebook";
  --pm-icon-soc-thin-001: "twitter";
  --pm-icon-soc-thin-002: "x";
  --pm-icon-soc-thin-003: "instagram";
  --pm-icon-soc-thin-004: "linkedin";
  --pm-icon-soc-thin-005: "youtube";
  --pm-icon-soc-thin-006: "tiktok";
  --pm-icon-soc-thin-007: "snapchat";
  --pm-icon-soc-thin-008: "pinterest";
  --pm-icon-soc-thin-009: "reddit";
  --pm-icon-soc-thin-010: "discord";
  --pm-icon-soc-thin-011: "slack";
  --pm-icon-soc-thin-012: "whatsapp";
  --pm-icon-soc-thin-013: "telegram";
  --pm-icon-soc-thin-014: "signal";
  --pm-icon-soc-thin-015: "messenger";
  --pm-icon-soc-thin-016: "github";
  --pm-icon-soc-thin-017: "gitlab";
  --pm-icon-soc-thin-018: "bitbucket";
  --pm-icon-soc-thin-019: "codepen";
  --pm-icon-soc-thin-020: "stackoverflow";
  --pm-icon-soc-thin-021: "dribbble";
  --pm-icon-soc-thin-022: "behance";
  --pm-icon-soc-thin-023: "figma";
  --pm-icon-soc-thin-024: "sketch";
  --pm-icon-soc-thin-025: "adobe";
  --pm-icon-soc-thin-026: "spotify";
  --pm-icon-soc-thin-027: "apple-music";
  --pm-icon-soc-thin-028: "soundcloud";
  --pm-icon-soc-thin-029: "bandcamp";
  --pm-icon-soc-thin-030: "mixcloud";
  --pm-icon-soc-thin-031: "twitch";
  --pm-icon-soc-thin-032: "vimeo";
  --pm-icon-soc-thin-033: "dailymotion";
  --pm-icon-soc-thin-034: "google";
  --pm-icon-soc-thin-035: "apple";
  --pm-icon-soc-thin-036: "microsoft";
  --pm-icon-soc-thin-037: "amazon";
  --pm-icon-soc-thin-038: "meta";
  --pm-icon-soc-thin-039: "android";
  --pm-icon-soc-thin-040: "ios";
  --pm-icon-soc-thin-041: "windows";
  --pm-icon-soc-thin-042: "linux";
  --pm-icon-soc-thin-043: "chrome";
  --pm-icon-soc-thin-044: "firefox";
  --pm-icon-soc-thin-045: "safari";
  --pm-icon-soc-thin-046: "npm";
  --pm-icon-soc-thin-047: "yarn";
  --pm-icon-soc-thin-048: "docker";
  --pm-icon-soc-thin-049: "kubernetes";
  --pm-icon-soc-thin-050: "aws";
  --pm-icon-soc-thin-051: "azure";
  --pm-icon-soc-thin-052: "gcp";
  --pm-icon-soc-thin-053: "stripe";
  --pm-icon-soc-thin-054: "paypal";
  --pm-icon-soc-thin-055: "visa";
  --pm-icon-soc-thin-056: "mastercard";
  --pm-icon-soc-thin-057: "amex";
  --pm-icon-soc-thin-058: "medium";
  --pm-icon-soc-thin-059: "substack";
  --pm-icon-soc-thin-060: "wordpress";
  --pm-icon-soc-thin-061: "blogger";
  --pm-icon-soc-thin-062: "tumblr";

}
/* TOTAL: 252 tokens (63 icons × 4 styles) */